:root {
  font-size: larger;
}

body {
  margin: 0px;
  background-image: linear-gradient(white, #caa8fa);
  /* background-size: contain; */
  min-height: 100vh;
}
h2 {
  font-family: Playfair;
  text-shadow: 1px 1px 2px white;
  /* font-weight: 600; */
  font-style: italic;
  font-size: 5rem;
  margin: 2px 0px;
  /* letter-spacing: 0.7rem; */
}
h3 {
  font-family: EB Garamond, serif;
  font-size: 3.5rem;
  letter-spacing: 0.6rem;
  font-weight: 100;
  margin: 5px;
}
p {
  font-family: Overlock, Arial, sans-serif;
  font-size: 1.8rem;
  margin: 0;
  padding-inline: 1.5rem;
}

#title {
  background: url("./images/bar-7-16.jpg");
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title > img {
  width: 100%;
  max-width: 1500px;
  margin: 1.8rem 0px;
}

#offerings-header {
  background: url("./images/Wine30-6.jpg");
  background-size: cover;
  background-position-y: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

#offerings-header > h2 {
  margin: 4rem 0px 0px 0px;
  padding: 1rem 0.75rem 1rem 0.75rem;
  width: 88%;
  background-color: #ffffff99;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#offerings-body {
  width: 88%;
  margin: 0px auto;
  padding: 0px 0.75rem 5px 0.75rem;
  background-color: #ffffff99;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.offering-img {
  border-radius: 5px;
  order: 2;
  box-shadow: 2px 2px 5px #111;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 500px;
  justify-self: right;
  aspect-ratio: 5/6;
}

.offering-item {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 10px;
}
.offering-item:nth-child(even) {
  grid-template-columns: 40% 1fr;
}

.offering-item:not(:first-child) {
  margin: 2rem 0px;
}
.offering-item p {
  order: 1;
  font-size: 1.5rem;
  padding: 0px;
  /* padding: 0px 0px 20px 0px; */
}
.offering-item:nth-child(even) img {
  order: -1;
  justify-self: left;
}
.offering-divider {
  min-width: 100%;
  margin: 0;
  position: relative;
  bottom: 1px;
  border-color: #00000066;
  grid-column: span 2;
  order: -3;
}

.offering-button {
  order: 5;
  width: 50%;
  text-align: center;
  padding: 8px;
  margin-top: 1rem;
  color: #caa8fa;
  background-color: #111;
  text-decoration: none;  
  outline: 3px solid;
  border-radius: 5px;
  font-size: 1.5rem;
}
.offering-button:hover {
  background-color: #caa8fa;
  color: #111;
}

.current-day {
  background-color: hsla(260, 100%, 70%, 0.667);
}

#hours-container {
  position: relative;
  align-content: center;
  justify-items: center;
  border-radius: 5px;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  border: 1rem solid transparent;
  border-inline: 3rem solid transparent;
  background: url("./images/Wine-30-BKG-scaled.jpg") border-box;
  background-size: cover;
  background-position: center center;
  mask: linear-gradient(#00000050, #00000050) border-box,
    linear-gradient(#ffffff, #ffffff) padding-box;
}

#hours-div {
  padding: 5px 0px;
  margin: 10px;
  width: 80%;
  max-width: 1000px;
  min-width: fit-content;
  height: 80%;
  background-color: hsl(266, 92%, 90%, 70%);
  display: grid;
  grid-template-columns: auto max-content;
  backdrop-filter: blur(3px);
}

#calendar {
  padding: 0.3rem;
  margin: 0.5rem;
  background-color: #ffffffb0;
  border: 0.6rem solid white;
  border-radius: 5px;
  min-height: 815px;
}

#calendar > * {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar-body {
  background-color: white;
}

#calendar-body p {
  padding: 0;
  font-size: 0.8rem;
}

.calendar-day {
  background-color: hsl(265, 89%, 92%);
  border-top: 0px;
  border-bottom: 2px solid white;
  border-inline: 1px solid white;
  position: relative;
  height: 100px;
}

.calendar-day p {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  height: 25px;
  width: 25px;
}

.todays-date {
  background-color: #00000090;
  color: white;
}

.day-name {
  margin: 1px 0px;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-left: 5px;
  background-color: hsl(265, 89%, 65%);
  border: 1px solid white;
}

#month-name {
  margin: 0;
  font-size: 2rem;
  font-family: EB Garamond, serif;
}

svg {
  vertical-align: middle;
}

@media (max-width: 700px) {
  :root {
    font-size: x-small;
  }

  .offering-img {
    order: -1;
    width: 50%;
    justify-self: center !important;
  }

  .offering-item {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 0px;
  }
  .offering-item:nth-child(even) {
    grid-template-columns: 1fr !important;
  }

  .offering-divider {
    grid-column: span 1;
  }

  #calendar {
    min-height: 700px;
  }
}
