      body {
        margin: 0px;
        background-image: linear-gradient( #f0e6fe ,#8d53ff, #3c1979);
        background-size: contain;
        height: 100vh;
      }
      h3 {
        font-family: EB Garamond, serif;
        font-size: 4rem;
        letter-spacing: 10px ;
        font-weight: 100;
        margin: 5px;
      }
      p {
        font-family: Overlock, Arial, sans-serif;
        font-size: 3rem;
        margin: 0;
        padding-inline: 2.5rem;
      }

      .current-day {
        background-color: #9b68ffaa;
      }

      #i {
        position: relative;
        align-content: center;
        justify-items: center;
        border-radius: 5px;
        z-index: 1;
        background-size: cover;
        background-position: center center;
        margin: 1rem;
        border: 1rem solid transparent;
        background: url("./w30/Wine-30-BKG-scaled.jpg") border-box;
        background-size: cover;
        background-position: center center;
        mask: linear-gradient(#00000050, #00000050) border-box,
          linear-gradient(#ffffff, #ffffff) padding-box;
      }
