---
pageTitle: Wine 30 Home
scriptTitle: "home.js"
layout: "layouts/base.html"
---

<div id="title">
  <img src="./images/WINE30_FINAL-02.webp" />
  <div id="navigation-div">
    <span style="flex-grow: 3;">
        <a href="#about-us">About</a>
        <a href="#offerings">Offerings</a>
        <a href="#location">Location</a>
    </span>
    <span style="flex-grow: 2;">
      <a href="/events" >Events</a>
      <a href="/wine-club">Wine Club</a>
    </span>
  </div>
</div>
<br />
{% include 'partials/about.html' %}
<br />
{% include 'partials/offerings.html' %}
<br />
{% include 'partials/location.html' %}
{% include 'partials/hours.html' %}
{% include 'partials/footer.html' %}