:root {
  font-size: larger;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background-image: linear-gradient(white, #caa8fa);
  min-height: 100vh;
}
body * {
  box-sizing: border-box;
}
h2 {
  font-family: Playfair, fantasy;
  text-shadow: 0px 0px 4px #ffffffdd;
  font-style: italic;
  font-size: 5rem;
  margin: 2px 0px;
}
h3 {
  font-family: EB Garamond, serif;
  font-size: 4rem;
  line-height: 3.2rem;
  letter-spacing: 0.6rem;
  font-weight: 100;
  margin: 10px 5px;
}
h4 {
  font-family: EB Garamond, serif;
  font-size: 2.5rem;
  /* font-weight: bold; */
  margin: 5px;
  font-style: italic;
}
p {
  font-family: Overlock, Arial, sans-serif;
  font-size: 1.8rem;
  margin: 0;
  padding-inline: 1.5rem;
}
a {
  font-family: Overlock, Arial, sans-serif;
  color: black;
  text-decoration: none;
}
header {
  padding: 5px;
  background-color: #e8d8fd66;
}
nav>a {
  font-size: 1.5rem;
}
#header-img {
  height: 3rem;
}

#title {
  background: url("./images/Wine30-6.webp");
  background-size: cover;
  height: 100svh;
  background-position: 75% 100%;
  display: flex;
  flex-direction: column;
  gap: 10svh;
  padding: 5rem 0px 10rem 0px;
  align-items: center;
}
#title > img {
  width: 90%;
  max-height: 50svh;
  object-fit: contain;
  max-width: 1500px;
  margin: 2rem 0px;
  filter: drop-shadow(0px 0px 3px black);
}
#navigation-div {
  display: flex;
  width: 100%;
  padding: 0px 1rem;
  column-gap: 1rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}
#navigation-div span {
  gap: 1rem;
  display: flex;
}
#navigation-div a {
  color: black;
  text-align: center;
  background-color: #caa8fa;
  flex-grow: 1;
  font-weight: 700;
  padding: 8px 24px;
  border: 4px solid white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

#about-us {
  position: relative;
  text-align: center;
  background-color: #e2cefdbf;
}
#about-us div {
  background-image: 
  linear-gradient(#ffffffbf, #ffffffbf),
  /* linear-gradient( 
      hsla(266, 92%, 94%, 0.749),
      hsla(266, 92%, 94%, 0.749)
    ),  */
    url("./images/IMG_1705.JPEG");
    /* url("./images/470582978_922590870059867_6361044026133873144_n.jpg"); */
  background-size: cover;
  background-position: center center;
  /* background-position: center 20%; */
}
#about-us p {
  /* backdrop-filter: blur(1px); */
  /* background-color: #ffffffbf; */
  padding: 20px 10px;
  font-size: 2rem;
  justify-self: center;
  max-width: 1200px;
  /* color: white; */
}

#offerings-header {
  /* background: url("./images/Wine30-6.webp"); */
  background: url("./images/wine30-18.jpg");
  background-size: cover;
  background-position-y: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

#offerings-header > h2 {
  backdrop-filter: grayscale(100%) blur(1px);
  margin: 5rem 0px 0px 0px;
  padding: 1rem 0.75rem 1rem 0.75rem;
  width: 88%;
  background-color: #ffffff99;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#offerings-body {
  width: 88%;
  margin: 0px auto;
  padding: 0px 0.75rem 5px 0.75rem;
  background-color: #ffffff99;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.offering-img {
  margin-bottom: 10px;
  border-radius: 5px;
  order: 2;
  box-shadow: 2px 2px 5px #111;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 500px;
  justify-self: right;
  aspect-ratio: 3 / 4;
}

.offering-item {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 20px;
}
.offering-item:nth-child(even) {
  grid-template-columns: 40% 1fr;
}

.offering-item:not(:first-child) {
  margin: 2rem 0px;
}
.offering-item p {
  order: 1;
  font-size: 2rem;
  padding: 0px 1rem;
}
.offering-item:nth-child(even) img {
  order: -1;
  justify-self: left;
}
.offering-divider {
  min-width: 100%;
  margin: 0;
  position: relative;
  bottom: 1px;
  border-color: #00000066;
  grid-column: span 2;
  order: -3;
}

.link-button {
  order: 5;
  width: 50%;
  text-align: center;
  padding: 8px;
  margin-top: 1rem;
  color: #caa8fa;
  background-color: #111;
  text-decoration: none;
  outline: 3px solid;
  border-radius: 5px;
  font-size: 1.5rem;
}
.link-button:hover {
  background-color: #caa8fa;
  color: #111;
}

.current-day {
  background-color: hsla(260, 100%, 70%, 0.667);
}

#hours {
  position: relative;
  align-content: center;
  justify-items: center;
  border-radius: 5px;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  border: 1rem solid transparent;
  border-inline: 3rem solid transparent;
  background: url("./images/Wine-30-BKG-scaled.jpg") border-box;
  background-size: cover;
  background-position: center center;
  mask: linear-gradient(#00000050, #00000050) border-box,
    linear-gradient(#ffffff, #ffffff) padding-box;
}

#hours-div {
  padding: 5px 0px;
  margin: 10px;
  width: 80%;
  max-width: 1000px;
  min-width: fit-content;
  height: 80%;
  background-color: hsl(266, 92%, 90%, 70%);
  display: grid;
  grid-template-columns: auto max-content;
  backdrop-filter: blur(3px);
}

#location a {
  width: 100%;
  position: relative;
  padding-top: 25px;
  background-color: #ffffff66;
  border-radius: 8px;
}

.location-icon {
  position: absolute;
  z-index: 5;
  top: -28px;
  left: calc(50% - 24px);
}


#location img {
  position: relative;
  z-index: 0;
  height: 12rem;
  min-height: 15vh;
  width: 100%;
  object-fit: cover;
  object-position: 0% 17%;
}
#location h3 {
  height: 5.2rem;
  position: relative;
  z-index: 2;
  background-color: #ffffffcc;
  backdrop-filter: blur(2px);
  margin: 5rem;
  align-self: end;
  margin: 0px;
  padding: 10px 10px 30px 10px;
  border-top-left-radius: 10px;
}

#location-main {
  display: flex;
  gap: 5rem;
  justify-content: end;
  width: 100%;
  padding-left: 10px;
}

#location-boxes {
  display: flex;
  flex-direction: column;
  padding-top: 32px; 
  gap: 32px;
  align-items: center;
  justify-self: center;
}

#map-section {
  position: relative;
  top: -5.3rem;
  flex-grow: 1;
  max-width: 75%;
  gap: 0px;
}

#calendar {
  padding: 0.3rem;
  margin: 0.5rem auto;
  background-color: #ffffffb0;
  border: 0.6rem solid white;
  border-radius: 5px;
  max-width: 1100px;
}

#calendar > * {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar-body {
  background-color: white;
}

#calendar-body p {
  padding: 0;
  font-size: 0.8rem;
}

.calendar-day {
  background-color: hsl(265, 89%, 92%);
  border-top: 0px;
  border-bottom: 2px solid white;
  border-inline: 1px solid white;  
  position: relative;
  aspect-ratio: 1;
  display: flex;
  padding-top: 3px;
  flex-direction: column;
  gap: 5px;
  justify-content: center;

}
.non-month-day {
  background-color: hsl(265, 89%, 96%);
  border-top: 0px;
  border-bottom: 2px solid white;
  border-inline: 1px solid white;  
  position: relative;
  aspect-ratio: 1;
}

.day-of-month {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.todays-date {
  background-color: #00000090;
  color: white;
}

.day-name {
  margin: 1px 0px;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-left: 5px;
  background-color: hsl(265, 89%, 65%);
  border: 1px solid white;
}

#month-name {
  margin: 0;
  font-size: 2rem;
  font-family: EB Garamond, serif;
}

.calendar-event-preview {
  font-size: clamp(0.6rem, 2vw, 23px ) !important;
  align-content: center;
  text-align: center;
}

#event-popup {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  color: hsl(265, 89%, 96%);
  border-radius: 5px;
  border: 2px solid hsl(265, 89%, 60%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2rem 5px 0px 10px;
  width: min(80svw, 80svh);
  z-index: 3;
  background: linear-gradient( #888888, #777777, hsla(265, 30%, 22%, 90%));
  max-height: 95svh;
  overflow-y: auto;
}
#event-popup p {
  padding-right: 1rem;
  font-size: 1.5rem;
  margin: 0px 0px 1rem 0px;
}
[calendar-role="description"] {
  background-color: #ffffff10;
}
#event-popup h3 {
  letter-spacing: unset;
  padding-right: 1rem;
  margin: 0px;
}

#calendar-registration {
  order: 0;
  scale: 1;
  font-size: 1.2rem;
  padding: 4px 1rem;
  max-width: fit-content;
}

#upcoming-events {
  background-color: #ffffff66;
  max-width: min(1200px, 95%);
  border: 2px solid #000000c0;
  border-radius: 4px;
  margin: 0.5rem auto;
}
#upcoming-events h2 {
  font-size: 4rem;
  padding-left: 5px;
}

#event-list {
  padding: 10px;
  height: 60svh;
  overflow-y: auto;
}
#event-list>div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0px auto 1rem auto;
  background-color: hsla(0, 0%, 100%, 0.6);
  max-width: 1100px;
  border-radius: 5px;
  gap: 2px;
}
#club-levels {
  background: linear-gradient(#22222270, #000000e0);
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  color: white;
  border: 0.6rem solid #ffffffee;
  max-width: max-content;
  justify-self: center;
}
#club-levels h4 {
  display: grid;
  justify-self: center;
  grid-template-columns: 3fr 1fr 3fr;
  gap: 1.5rem;
  font-size: 3rem;
}
#club-levels p {
  padding-inline: 1rem;
  font-size: 1.6rem;
}
input, textarea, select {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
label>input[type="checkbox"] {
  margin: 0px 0.5rem 0px 0px;
}
label {
  font-family: Overlock, Arial, sans-serif;
}

#footer {
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icon {
  border-radius: 50%;
  background-color: #ffffff50;
  border: 1px solid white;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
}

#event-title {
  background-image: url("/images/Wine30-17.jpg");
  background-size: cover;
  background-position-y: 5%;
  padding: 5rem 0px;
  width: 100%;
  max-width: 1200px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#event-title>h1{
  font-family: EB Garamond, serif;
  font-size: 7rem;
  margin: 0px;
  justify-self: center;
  text-shadow: 0px 0px 4px #ffffffdd;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.4rem;
  width: fit-content;
  background-color: #ffffff40;
  backdrop-filter: blur(2px);
  padding: 1rem;
}

#event-registration-btn {
  max-width: 300px;
  background-color: #caa8fa;
  color: black;
}
#event-registration-btn:hover {
  background-color: black;
  color: #caa8fa;
}

.registration-button {
  order: unset;
  background-color: #caa8fa;
  color: black;
  font-size: 1.5rem;
  margin: 0px 5px 0.5rem 5px;
  scale: 0.75;
  width: max-content;
}

p[calendar-role="description"] {
  font-size: 1rem;
  padding-inline: 0.75rem;
}

svg {
  vertical-align: middle;
}

@media (max-width: 750px) {
  :root {
    font-size: x-small;
  }

  .offering-img {
    order: -1;
    width: 50%;
    justify-self: center !important;
  }

  .offering-item {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 0px;
  }
  .offering-item:nth-child(even) {
    grid-template-columns: 1fr !important;
  }

  .offering-divider {
    grid-column: span 1;
  }

  #location-main {
    flex-direction: column-reverse;
    align-items: end;
    gap: 0px;
  }
  #location-boxes {
    width: 98%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 0px;
    justify-content: start;
    align-items: unset;
    position: relative;
    top: -2.2rem;
  }
  #map-section {
    width: 98%;
    max-width: unset;
  }
  iframe {
    aspect-ratio: 1;
  }

}
@media (max-width: 350px) {
  :root {
    font-size: 0.5em;
  }
}
