<section id="about-us">
  <h2>About Us</h2>
  <div>
      <p>
        Wine:30 on Oak St. in the heart of down town Roanoke Texas. A place to
        gather with friends or just come in to relax and enjoy an excellent glass of
        wine. We are your neighborhood.<br />Cheers!<br /><br />
        Offering wine by the glass, bottle or flight tasting in house as well as by
        the bottle to enjoy at home.<br /><br />
        A great place to hold private parties, meetings and work events. Wine:30
        offers a private room available to rent for small parties and meetings.
        Should the party or group require more space, arrangements can be made to
        rent out the entire bar for your event. Give us a call or stop in and lets
        talk about your needs and what we have to offer.
      </p>
  </div>
</section>
