
<section id="calendar">
    <div id="calendar-head">
        <h2 style="grid-column: span 7;">Calendar</h2>
        <span></span><button onclick="changeMonth(-1)"><svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#111"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg></button><h4 style="grid-column: span 3; text-align: center;" id="month-name"></h4><button onclick="changeMonth(1)"><svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#111"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg></button><span></span>

        <h5 class="day-name">Sun</h5>
        <h5 class="day-name">Mon</h5>
        <h5 class="day-name">Tues</h5>
        <h5 class="day-name">Wed</h5>
        <h5 class="day-name">Thurs</h5>
        <h5 class="day-name">Fri</h5>
        <h5 class="day-name">Sat</h5>

    </div>
    <div id="calendar-body"></div>
    
    <div id="event-popup" >
                <h3 calendar-role="title"></h3>
                <hr style="width: 98%;">
                <br>
                
                <p calendar-role="description" style="max-height: 40svh; overflow-y: auto; padding: 5px;"></p>

                <div style="display: flex; justify-content: space-between; align-items: center; padding-inline: 1rem;" >
                    <a target="_blank" href="{{event.registration}}" class="link-button registration-button" id="calendar-registration" calendar-role="registration-link">Register Here</a>
                    <div style="text-align: right;">
                        <h3 calendar-role="date" style="text-align: right; font-size: 2rem;"></h3>
                        <p><span calendar-role="start"></span><span calendar-role="end"></span></p>
                    </div>
                </div>
                <button onclick="hideEvent()" style="position: absolute; top: 5px; right: 5px; font-size: 1.2rem;">X</button>
    </div>
    
</section>

<div id="upcoming-events" >
    <h2 style="background-color: #ffffff70;" >Upcoming Events</h2>
    <div id="event-list">
        {% for file, event in helperFunctions.sortEventDates(events) %}
        {% set event = helperFunctions.dateProcessor(event) %}
        <div calendar-role="{{ event.eventtype }}" date={{event.year}}-{{(event.month | string).padStart(2, "0") }}-{{(event.day | string).padStart(3, "0") }} >
              <div style="display: flex; flex-direction: column; justify-content: center; padding-bottom: 1rem; ">
                  <h3 calendar-role="title" style="letter-spacing: normal; font-size: 2.5rem;">{{event.title}}</h3>

                  {% if event.subtitle %}
                    <p hidden calendar-role="subtitle" >{{event.subtitle}}</p>
                  {% endif %}

                  {% if event.registration %}
                  <a calendar-role="registration-link" class="link-button registration-button" target="_blank" href="{{event.registration}}" >Register Here</a>
                  {% endif %}
                  <p calendar-role="description" >{{ event.description | replace("\n", "<br />") | safe   }}</p>
              </div>
              <div>
                  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;  background-color: hsl(265, 89%, 70%); border-radius: 10px; aspect-ratio: 1; height: 8rem; padding-bottom: 0.8rem; color: white; " >
                      <p style="font-size: 3rem; padding: 0px;">{{ ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"][event.month - 1]}}</p>
                      <h3 style="margin: 0px; letter-spacing: -2px;" >{{ event.day }}</h3>
                  </div>

                  {% if event.eventtype == "event" %}
                  <p style="padding: 0px; font-size: 1.2rem; justify-self: center;" >
                    <span calendar-role="start" >{{ helperFunctions.toTimeString(event.start) | replace(":00", "") }}</span><span calendar-role="end" > - {{helperFunctions.toTimeString(event.end) | replace(":00", "") }}</span>
                
                  {% elseif event.closed %}
                  <p calendar-role="start" style="padding: 0px; font-size: 1.2rem; justify-self: center;">Closed<span calendar-role="end"></span></p>

                  {% else %}
                  <p style="padding: 0px; font-size: 1.2rem; justify-self: center;"><span calendar-role="start" >Open</span><span calendar-role="end"> from: <br /> {{ helperFunctions.toTimeString(event.start) | replace(":00", "") }} - {{ helperFunctions.toTimeString(event.end) | replace(":00", "") }}</span></p>

                  {% endif %}
                </p>
              </div>
          </div>
          {% endfor %}
    </div>
</div>
