
<section id="calendar">
    <h3 style="grid-column: span 7;">Calendar</h3>
    <button style="display: inline" onclick="changeMonth(-1)"><</button><button style="display: inline" onclick="changeMonth(1)">></button>
    <div id="calendar-head">

        <h4 style="grid-column: span 7; text-align: center;" id="month-name"></h4>
    
        <h5 class="day-name">Sun</h5>
        <h5 class="day-name">Mon</h5>
        <h5 class="day-name">Tues</h5>
        <h5 class="day-name">Wed</h5>
        <h5 class="day-name">Thurs</h5>
        <h5 class="day-name">Fri</h5>
        <h5 class="day-name">Sat</h5>
    </div>
    <div id="calendar-body">
        {% for file, event in events %}
        {% set event = helperFunctions.dateProcessor(event) %}
            <p hidden date={{event.year}}-{{event.month}}-{{event.day}} >{{ event.title }}</p>
            <p hidden >{{ event.description }}</p>
        </section>
    {% endfor %}
    </div>
