<section id="hours">
  <div
    style="
      color: white;
      padding: 5px 0px;
      margin: 10px;
      width: 80%;
      min-width: fit-content;
      height: 80%;
      background-color: #2b008090;
      display: grid;
      grid-template-columns: auto max-content;
      backdrop-filter: blur(3px);
    "
  >
    <h3 style="grid-column: span 2">Hours</h3>

    <!-- {% for v in hours | list %}{{ v.value.title }},{% endfor %} -->

    {% for day in hours | list | sort("order") %}
    <!-- <p>data</p> -->
    <p class="{{ hoursFunctions.getCurrentDay(day.value) }}">{{ day.value.title }}</p>
    <p class="{{ hoursFunctions.getCurrentDay(day.value) }}">
      {{ hoursFunctions.getDisplayHours(day.value) }}
    </p>
    {% endfor %} 
    
    
    <!-- {% for day in collections.hourscollection %}
    <p>collection</p>
    <p class="{{ hoursFunctions.getCurrentDay(day.data) }}">
      {{ day.data.title }}
    </p>
    <p class="{{ hoursFunctions.getCurrentDay(day.data) }}">
      {{ hoursFunctions.getDisplayHours(day.data) }}
    </p>
    {% endfor %} -->
  </div>
</section>
