<section id="hours">
  <div
    style="
      color: white;
      padding: 5px 0px;
      margin: 10px;
      width: 80%;
      min-width: fit-content;
      height: 80%;
      background-color: #2b008090;
      display: grid;
      grid-template-columns: auto max-content;
      backdrop-filter: blur(3px);
    "
  >
    <h3 style="grid-column: span 2">Hours</h3>

    {% for day in hoursFunctions.sortDays(hours) %}
    <p class="{{ hoursFunctions.getCurrentDay(day) }}">{{ day.title }}</p>
    <p class="{{ hoursFunctions.getCurrentDay(day) }}">
      {{ hoursFunctions.getDisplayHours(day) }}
    </p>
    {% endfor %} 
    
  </div>
</section>
