<section id="location">
    <img src="/images/470582775_922566373395650_5312254994870287149_n.jpg" />
    <div id="location-main">
      <div id="location-boxes">
      <a
        style="
          text-align: center;
          font-size: 2.6rem;
          width: 15rem;
        "
        href="geo:0,0?q=400 S Oak St Unit 150, Roanoke, TX 76262"
        ><svg
          class="location-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          fill="#000"
          stroke="white"
          class="bi bi-geo-alt-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
          />
        </svg>
        400 S Oak St Unit 150, Roanoke, TX 76262</a
      >
      <a
        style="vertical-align: middle;text-align: center; font-size: 3rem; width: 15rem"
        href="tel: 6825024111"
        ><svg
          class="location-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          stroke="white"
          fill="currentColor"
          class="bi bi-telephone-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
          />
        </svg>
        (682)<br />502-<br />4111</a
      >
      
    </div>
    <div id="map-section">
      <h3>Location</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d529.029944005964!2d-97.23069127330004!3d32.99476756669037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864dd19b6088cbeb%3A0x9075e32cfe54bcd7!2sWine%3A30%20on%20Oak%20St!5e0!3m2!1sen!2sus!4v1760315244965!5m2!1sen!2sus"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div style="height: 20px; background-color: #ffffffaa; position: relative; bottom: 6px; z-index: -1; border-bottom-left-radius: 10px;" ></div>
    </div>
    </div>
</section>
