<section id="offerings">
  <div id="offerings-header">
    <h2>Our Offerings</h2>
  </div>
  <div id="offerings-body">
    {% for item in helperFunctions.sortDays(offerings) %}
    <div class="offering-item">
      <div class="offering-divider">
        <hr
          style="
            border-color: #00000066;
            margin: 0;
            position: relative;
            bottom: 1px;
          "
        />
        <br />
      </div>
      {% if item.image %}
      <img class="offering-img" src="{{ item.image }}" alt="{{ item.alttext }}" loading="lazy" />
      <div style="display: flex; align-items: center; flex-direction: column">
        {% else %}
        <div style="grid-column: span 2; text-align: center">
      {% endif %}
          <h3 style="text-align: center; margin-top: 0px">{{ item.title }}</h3>
          <div>
            <p>{{ item.description | replace("\n", "<br />") | safe }}</p>
          </div>
          {% if item.buttonText and item.buttonLink %}
          <br />
          <a class="link-button" href="{{ item.buttonLink }}">{{item.buttonText}}</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
